h1, h2, h3, h4, .label {
  color: #374D78;
  font-family: 'Poppins';
  }

.main {
  background-color: #FFFFFF;
}

/* Multiple choice options */
.option-content {
  background-color: #F5F9FF;
  border-radius: 16px;
  padding: 40px 20px 40px 20px!important;
}

/* Buttons */
button.continue:hover:not(:focus):not(:focus-within) {
  background-color: #C4C4C4;
  padding: 8px;
  border-radius: 41px;
}

button.continue:hover, button.continue:focus {
  background: #EA7B6C;
  padding: 8px;
  border-radius: 41px;
}

/* Progress bar */
@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 12rem;
  --fg: #369;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}

/* demo */
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

