h1, h2, h3, h4, .label {
  color: #374D78;
  font-family: 'Poppins';
  }

.main {
  background-color: #FFFFFF;
}

/* Multiple choice options */
.option-content {
  background-color: #F5F9FF;
  border-radius: 16px;
  padding: 40px 20px 40px 20px!important;
}

/* Buttons */
button.continue:hover:not(:focus):not(:focus-within) {
  background-color: #C4C4C4;
  padding: 8px;
  border-radius: 41px;
}

button.continue:hover, button.continue:focus {
  background: #EA7B6C;
  padding: 8px;
  border-radius: 41px;
}

/* Progress bar */
.RadialProgress {
  --hue: 211;
  --holesize: 50%;
  --track-bg: hsl(233 34% 92%);

  block-size: 50vmin;
  inline-size: 50vmin;
  min-inline-size: 100px;
  min-block-size: 100px;
  display: grid;
  place-items: center;
  position: relative;
  font-weight: 700;
  font-size: max(10vmin, 1.4rem);
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    background: conic-gradient(
      hsl(var(--hue) 100% 36%) var(--progress, 0%),
      var(--track-bg) var(--progress, 0%) 100%
    );
    
    mask-image: radial-gradient(
      transparent var(--holesize),
      black calc(var(--holesize) + 0.5px)
    );
  }
}











































































































































































































































































































































































html {
  block-size: 100%;
  inline-size: 100%;
  background: #f8fcff;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
}

span {
  white-space: nowrap;
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  
  & img {
    margin: 0 0 0 4px;
  }
}

input {
  margin: 50px 0; 
}

@use postcss-preset-env {
	stage: 0;
	browsers: [
		"last 1 Chrome versions",
		"last 1 Firefox versions",
		"last 1 Safari versions",
		"last 1 Edge versions"
	]
}

